@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul{
    list-style-type: none;
}

.container{
    background-color: #fff;
    max-width: 400px;
    margin-inline: auto;
    padding: 1rem;
    box-shadow: 10px 10px 0px black;
    border-radius: 20px;
    border: 1px solid black;
}

body{
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree";
}

@media (min-width:768px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        padding: 0;
    }

    .container{
        background-color: #fff;
        max-width: 400px;
        margin-inline: auto;
        padding: 1rem;
        box-shadow: 10px 10px 0px black;
        border-radius: 20px;
        border: 1px solid black;
    }

    .card-img img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .box{
        border-style: none;
        width: 5rem;
        padding: 5px 8px;
        background-color: hsl(47, 88%, 63%);
        margin-bottom: 10px;
    
    }

    .publish{
        margin-bottom: 15px;
        font-size: 12px;
    }

    h2{
        margin-bottom: 15px;
        font-size: 20px;
    }

    h2:hover{
        cursor: pointer;
        color: hsl(47, 88%, 63%);
    }

    .para{
        color: hsl(0, 0%, 50%);
        font-size: 14px;
    }

    ul {
        display: flex;
        justify-content: start;
        font-size: 13px;
        padding-top: 10px;
        margin-top: 10px;
    }

    li img{
        
        width: 2rem;
        border-radius: 50%;
        margin-right: 1rem;
        border: 2px solid;
        border-style: none;
    }

    .name{
        margin-top: 0.5rem;
        font-weight: bold;
    }

    avatar img{
        width: 2rem;
        border-radius: 50%;
    }
}


.attribution {
     font-size: 11px; text-align: center; 
     margin-top: 50px;
    }
    .attribution a { color: hsl(228, 45%, 44%); }
